.titles {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #555555;
  text-transform: uppercase;
}
.hrs {
  margin: 3rem 0;
  color: #555555;
  width: 5rem;
  border: .1rem solid;
  display: inline-block;
}
.under-hr {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.6rem;
  color: #555555;
}
.header {
  background: url('../img/bg-header.png') top center no-repeat;
  height: 77rem;
  background-size: 100%;
}
@media (max-width: 1600px) {
  .header {
    height: 56rem;
  }
}
@media (max-width: 1140px) {
  .header {
    height: 48rem;
  }
}
@media (max-width: 968px) {
  .header {
    height: 40rem;
  }
}
@media (max-width: 768px) {
  .header {
    height: 34rem;
  }
}
@media (max-width: 660px) {
  .header {
    height: 28rem;
  }
}
.header-container {
  width: 114rem;
  margin: 0 auto;
  padding-top: 4rem;
}
@media (max-width: 1140px) {
  .header-container {
    width: 86rem;
  }
}
@media (max-width: 920px) {
  .header-container {
    width: 66rem;
  }
}
@media (max-width: 786px) {
  .header-container {
    width: 52rem;
  }
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24rem;
}
@media (max-width: 1140px) {
  .top {
    margin-bottom: 16rem;
  }
}
@media (max-width: 920px) {
  .top {
    margin-bottom: 10rem;
  }
}
@media (max-width: 786px) {
  .top {
    margin-bottom: 6rem;
  }
}
.logo a {
  color: #fff;
  font-size: 2.4rem;
  font-family: 'Montserrat Bold', sans-serif;
}
.nav ul {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}
.nav ul li {
  margin-left: 3rem;
}
@media (max-width: 1140px) {
  .nav ul li {
    margin-left: 2rem;
  }
}
@media (max-width: 920px) {
  .nav ul li {
    margin-left: 1rem;
  }
}
.nav ul li a {
  color: #fff;
}
.captions {
  text-align: center;
  color: #fff;
}
.captions h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  margin: 0;
}
@media (max-width: 1140px) {
  .captions h1 {
    font-size: 4rem;
  }
}
@media (max-width: 1140px) {
  .captions h1 {
    font-size: 3.2rem;
  }
}
.captions p {
  font-family: "RobotoSlab", sans-serif;
  font-size: 2rem;
  margin: 3rem 0 4rem;
}
@media (max-width: 1140px) {
  .captions p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
  }
}
@media (max-width: 768px) {
  .captions p {
    font-size: 1.2rem;
    margin: 1rem 0 2rem;
  }
}
.captions button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background: transparent;
  border-radius: 3px;
  border: 2px solid white;
  text-transform: uppercase;
  padding: 1rem 3rem;
}
@media (max-width: 1140px) {
  .captions button {
    font-size: 1.2rem;
    padding: .8rem 2.6rem;
  }
}
@media (max-width: 768px) {
  .captions button {
    font-size: .8rem;
    padding: .8rem 2rem;
  }
}
.services {
  padding-top: 10rem;
  margin-bottom: 20rem;
}
.services-title {
  text-align: center;
  margin-bottom: 7rem;
}
@media (max-width: 1140px) {
  .services-title {
    padding-top: 0;
  }
}
.services-title h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #555555;
  text-transform: uppercase;
}
.services-title hr {
  margin: 3rem 0;
  color: #555555;
  width: 5rem;
  border: .1rem solid;
  display: inline-block;
}
.services-title p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.6rem;
  color: #555555;
}
.single-services {
  width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1140px) {
  .single-services {
    flex-direction: column;
  }
}
.single-services i {
  border: 0.1rem solid #555555;
  border-radius: 50px;
  padding: 1.5rem 1.5rem;
  color: red;
  display: block;
  width: 82px;
  margin: 0 auto;
}
.single-services i:hover {
  color: #fff;
  background: red;
}
.single-services span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #555555;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 24px 0;
}
.single-services p {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.4rem;
  color: #555555;
  padding: 2rem;
}
.single-services .service {
  text-align: center;
  width: 100vw;
}
.services-title h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #555555;
  text-transform: uppercase;
}
.services-title hr {
  margin: 3rem 0;
  color: #555555;
  width: 5rem;
  border: .1rem solid;
  display: inline-block;
}
.services-title p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.6rem;
  color: #555555;
}
.some-text {
  width: 114rem;
  margin: 0 auto;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: row;
}
.some-text p {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.4rem;
  color: #555555;
}
.team-members {
  margin: 0 auto;
  width: 114rem;
  display: flex;
  justify-content: space-between;
}
.member {
  text-align: center;
  position: relative;
}
.member .img-member {
  -position: relative;
  width: 263px;
  height: 251px;
}
.member .img-member:hover {
  background-color: #888;
  opacity: 0.5;
  position: relative;
  z-index: 111;
}
.member .img-member:hover img {
  position: relative;
  z-index: 22;
}
.member .social-links {
  position: absolute;
  top: 20rem;
  z-index: 112;
}
.member .social-links i {
  color: #fff;
}
.member span {
  display: block;
}
.member .name-member {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #555555;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 2rem 0;
}
.member .position-member {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.6rem;
  color: #555555;
  font-size: 1.3rem;
}
/*.member-1{
	background-image: url('../img/members/member-1.png');
}

.member-2{
	background-image: url('../img/members/member-2.png');
}


.member-3{
	background-image: url('../img/members/member-3.png');
}

.member-4{
	background-image: url('../img/members/member-4.png');
}*/
.Rectangle_5 {
  background-color: #555555;
  opacity: 0.502;
  position: absolute;
  left: 230px;
  top: 1791px;
  width: 263px;
  height: 250px;
  z-index: 313;
}
.Layer_12 {
  background-image: url("Layer 12.png");
  position: absolute;
  left: 224px;
  top: 1784px;
  width: 275px;
  height: 373px;
  z-index: 312;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
}
