.services-title{
	
	h3{
		.titles;
	}

	hr{
		.hrs;
	}

	p{
		.under-hr;
	}
}

.some-text{
	width: 114rem;
	margin: 0 auto;
	margin-bottom: 7rem;
	display: flex;
	flex-direction: row;

	p{
		font-family: 'RobotoSlab', sans-serif;
		font-size: 1.4rem;
		color: @main-color;
	}
}

.team-members{
	margin: 0 auto;
	width: 114rem;
	display: flex;
	justify-content: space-between;
}

.member{
	text-align: center;
	position: relative;
	
		
	.img-member{
		-position: relative;
		width: 263px;
		height: 251px;

		&:hover{	
			background-color: #888;
			opacity: 0.5;
			position: relative;
			z-index: 111;
		}

		&:hover img{
			position: relative;
			z-index: 22;
		}


	
  }

	.social-links{
		position: absolute;
		top: 20rem;
		z-index: 112;

		i{
			color: #fff;
		}
	}

	span{
		display: block;
	}

	.name-member{
		.titles;
		font-size: 1.4rem;
		font-weight: 700;
		margin: 2rem 0;
	}

	.position-member{
		.under-hr;
		font-size: 1.3rem;
	}
}

/*.member-1{
	background-image: url('../img/members/member-1.png');
}

.member-2{
	background-image: url('../img/members/member-2.png');
}


.member-3{
	background-image: url('../img/members/member-3.png');
}

.member-4{
	background-image: url('../img/members/member-4.png');
}*/

.Rectangle_5 {
  background-color: rgb(85, 85, 85);
  opacity: 0.502;
  position: absolute;
  left: 230px;
  top: 1791px;
  width: 263px;
  height: 250px;
  z-index: 313;
}


.Layer_12 {
  background-image: url("Layer 12.png");
  position: absolute;
  left: 224px;
  top: 1784px;
  width: 275px;
  height: 373px;
  z-index: 312;
}
